@media (min-width:800px) {
  body {
    background-color: white
  }
  h1::before {
    content: "Welcome to my web page!";
  }
}

@media (max-width:799px) {
  body {
    background-color: cyan
  }
  h1::before {
    content: "Welcome!";
  }
}


h1 {
  color: blue;
  text-align: center;
}

p {
  color: red;
}



td,th {
  border: 1px solid black;
  color: brown;
  padding: 20px;
  text-align: center;
}

#name {
  color: red;
}

th {
  background-color: grey;
  color: white;
}

div {
  background-color: teal;
  margin: 30px;
  padding: 20px;
}

.desig {
  color: grey;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}
